# IDEs
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# OS
Thumbs.db
Desktop.ini

# PHP / Composer
/vendor/
composer.lock

# App specific
.env
.env.*
!.env.example
*.log

# Uploads
/public/uploads/*
!/public/uploads/.gitkeep

# Docker
docker-compose.override.yml
